<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>

        <!--include header -->

        <%- include('_header'); %>
      <%- body %>
        <%- include('_footer'); %>
    </body>
</html>