 <!--
 <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>

        <!--include header -->
<!--
        <%- include('_header'); %>
        <h1>
             Codeial / Profile Page 
        </h1>
    
        <%- include('_footer'); %>
    </body>
</html>
-->

<!--Just keep the variable part here -->
<h1>
    Codeial / Profile Page 
</h1>