<!--
 <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>

        <!--include header -->
<!--
        <%- include('_header'); %>
        <h1>
             Codeial / Profile Page 
        </h1>
    
        <%- include('_footer'); %>
    </body>
</html>
-->

<!--Just keep the variable part here -->
<link rel="stylesheet" href="/css/profile.css" />
<h1>Codeial / Profile Page</h1>
